/* Start Font Import */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
/* End Font Import */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800 !important;
  font-size: 2.5rem;
  color: #091e3e;
}
p {
  color: #8e8e96;
}
.mt-10rem {
  margin-top: 10rem;
}
/* Start Color */
.text-darkblue {
  color: #091e3e;
}
.bg-darkblue {
  background-color: #091e3e;
}
.bg-raredarkblue {
  background-color: #010e28;
}
.text-blue {
  color: #06a3da;
}
.bg-blue {
  background-color: #06a3da;
}
.text-darkwhite {
  color: #8e8e96;
}
.bg-lightblue {
  background-color: #eef9ff;
}
/* End Color */

/* Start Font */
.font-nunito {
  font-family: "Nunito", sans-serif;
  font-style: italic;
  font-weight: 800;
}
/* End Font */

/* Start Topbar */
.hover-social {
  color: white;
  background-color: #091e3e;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.hover-social:hover {
  color: #091e3e;
  background-color: white;
}
/* End Topbar */

/* Start mt Decrement */
.mt-10px {
  margin-top: -10px;
}
.mt-5px {
  margin-top: -5px;
}
/* End mt Decrement */
